
{% extends "base.html" %}
{% block content %}
    <!-- <table>
        <div class="tbl-header">
            <table cellpadding="0" cellspacing="0" border="0">
                <thead>
                    <tr>
                        <th>Nazwa</th>
                        <th>Ilość</th>
                        <th>Opis</th>
                        <th>Dostawca</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
        {% for x in parts_q %}
        <tr>
            <td>{{x.nazwa}}</td>
            <td>{{x.ilość}}</td>
            <td>{{x.opis}}</td>
            <td>{{x.kupione_od}}</td>
            <td>
                <a href="/parts/{{ x.id }}"><button>Edytuj</button></a>
            </td>
        </tr>
        {% endfor %}
    </table>
<p>{{ parts_q }}</p>
<ul>
    {% for x in parts_q %}
        <li>{{ x.nazwa }}</li>
    {% endfor %}
</ul> -->



<section>
    <!--for demo wrap-->
    <h1>TABELA CZĘŚCI</h1>
    <div class="tbl-header">
      <table cellpadding="0" cellspacing="0" border="0">
        <thead>
          <tr>
            <th>Nazwa</th>
            <th>Ilość</th>
            <th>Opis</th>
            <th>Dostawca</th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="tbl-content">
      <table cellpadding="0" cellspacing="0" border="0">
        <tbody>
            {% for x in parts_q %}
            <tr>
                <td>{{x.nazwa}}</td>
                <td>{{x.ilość}}</td>
                <td>{{x.opis}}</td>
                <td>{{x.kupione_od}}</td>
                <td>
                    <a href="/parts/{{ x.id }}"><button>Edytuj</button></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
  </section>
  
{% endblock content %}